<h1>Welcome User</h1>


	<h1>Current Reservation</h1>
	<div class="current-reservation-wrapper">

		<div class="current-wait-time">
			<div class="user-wait-time">15</div>
			<div class="user-wait-time-text">minute(s) until you are seated</div>
		</div>

		<div class="current-restaurant">
			<div><label>Restaurant Name</label></div>
				<div>Some name</div>
			<div><label>Position in Line</label></div>
				<div>Some number</div>
			<div><label>Amount in Your Party</label></div>
				<div>Some other number</div>
		</div>

		<div class="current-restaurant-img">
			restaurant img goes here
		</div>



		<div class="user-options">
			<div><a href="#" class="result-button">Edit Reservation</a></div>
	  	<p><a href="#" class="result-button">Remove From List</a></p>
		</div>

	</div>

	<div class="section-separator"></div>

	<div class="make-reservation">
		<h1>Make a Reservation</h1>

		  <%= form_tag(restaurants_path, :method => "get", id:"search-form") do %>

        <table align=center class="search-form">
          <tr>
            <td>Restaurant Name/Food Type</td>
            <td>
              <%= text_field_tag :search, params[:search], placeholder: "Mexican, Philz Coffee, etc." %>
            </td>
          </tr>
          <tr>
            <td>Location</td>
            <td><%= text_field_tag :location, params[:location], placeholder: "San Francisco, CA"  %></td>
		      </tr>
          <tr>
            <td><%= submit_tag "Search", :class => 'search-submit' %></td>
            <td>Powered by <a href="http://www.yelp.com">Yelp</a></td>
          </tr>
        </table>

      <% end %>

	</div>

