<!DOCTYPE html>
<html>
<head>

  <!-- google map cdn -->
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVv7p1nuFRTd5tNiW0Bnfp2UP64t55Q18">
  </script>

  <!-- google places library -->
 <!--  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- for placement only -->
  <style type="text/css">
    #map-canvas {
      height: 500px;
    }
  </style>
</head>
<body>
  <div id="map-canvas"></div>
  <script src="geoloc.js"></script>
</body>

</html>