<h1>Welcome Back <%= current_user.admin? %> </h1>

	<div class="current-reservation-wrapper">

		<div class="current-wait-time">
			WELL HELLO THERE FRIEND
		</div>

		<div class="current-restaurant">
			I'm a restaurant
		</div>

		<div class="user-options">
		</div>

	</div>

	<div class="make-reservation">
		<h1>Make a Reservation</h1>
	</div>

<% if current_user.admin? %>
	<% p '*' * 100 %>
	<% p current_user.admin? %>

	<%= render 'admin/form' %>
<% end %>


