// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-splash-wrapper {
  margin: auto;
}

.error {
  background-color: #FF9800;
  color: #FFFFFF;
  margin: 0px auto 10px auto;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 60%;
}
