// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-splash-wrapper {
  margin: auto;
}

.current-reservation-wrapper { 
	display: flex;
	width: 80%;
}

.current-wait-time { 
	display:inline-block;
}

.current-restaurant { 
	display: inline-block;
}

.user-options { 
	display: inline-block;
}	q