// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.error {
  background-color: #FF9800;
  color: #FFFFFF;
  margin: 0px auto 10px auto;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 60%;
}
.current-reservation-wrapper {
	display: flex;
  margin: auto;
	width: 80%;
}

.current-wait-time {
  border: 1px solid #F44336;
  border-radius: 30px;
  color: #F44336;
	display:inline-block;
  padding: 10px;
  width: 33%;
}

.user-wait-time {
  font-size: 100px;
  text-align: center;
}

.user-wait-time-text {
  font-size: 20px;
  text-align: center;
}

.current-restaurant {
	display: inline-block;
  line-height: 25px;
  padding: 10px;
  width: 33%;
}

.user-options {
	display: inline-block;
  padding: 10px;
  width: 33%;
}

.signup-form a:link {
  color: #B6B6B6;
  text-decoration: underline;
}

.signup-form a:hover {
  text-decoration: none;
}

.signup-form a:visited {
  color: #B6B6B6;
  text-decoration: underline;
}

.signup-form td{
  font-family: helvetica;
  font-size: 20px;
  padding: 10px;
}

.signup-form input{
  font-family: helvetica;
  font-size: 15px;
  padding: 5px;
}
