<div class="restaurant-results">
    <section class="results-list-wrapper">
      <h1>Match Results</h1>
      <% if @results %>
        <%= render :partial => "restaurants/result", collection: @results, as: :result %>
      <% else %>
        <p align=center>Sorry, your search yielded no results</p>
      <% end %>
    </section>
</div>

