<div class="something">show up</div>

<div class="bullshit">

<h1>Match Results</h1>

<div class="results-list">
	<% if @results %>
		<% @results.each do |result| %>
			<%= render '_result', locals: {result: result} %>
		<% end %>
	<% end %>
</div>

</div>