<div class="restaurant-results">

  <h1>Match Results</h1>

  <div class="results-list">
    <% if @results %>
		  <% @results.each do |result| %>
			 <%= render 'result', locals: {result: result}%>
		  <% end %>
	 <% end %>

  </div>

</div>
