<div class="restaurant-results">

  <h1>Match Results</h1>

  <div class="results-list">

    <% if @results %>
      <% @results.each do |result| %>
       <%= render 'result', locals: {result: result}%>
      <% end %>
   <% end %>
    <div class="result-wrapper">
      <div class="result-img">Image goes here</div>

      <div class="result-info">
        <div><label>Restaurant Name</label></div>
          <div>Your Restaurant Name</div>
        <div><label>Category</label></div>
          <div>Some type of food</div>
        <div><label>Location</label></div>
          <div>Somewhere in the world, Universe</div>
        <div>
          <label>Price Range</label>
          DOLLAR SIGNS
        </div>
        <div>
          <label>Rating</label>
          Stars and such
        </div>
      </div>

      <div class="result-wait-time">
        <div class="result-wait-time-text0">Current wait time</div>
        <div class="result-wait-time-number">89</div>
        <div class="result-wait-time-text1">minute(s)</div>
      </div>



    </div>

    <div class="result-nav">
       <a class="result-button" href="#">Sign Waitlist</a>
    </div>

  </div>

</div>
