<div class="restaurant-results">
  <div class="separator"></div>
    <h1>Match Results</h1>
    <section class="results-list-wrapper">
      <% if @results %>
        <%= render :partial => "restaurants/result", collection: @results, as: :result %>
      <% else %>
        <h1>Sorry, your search yielded no results.</h1>
      <% end %>
    </section>

  </div>

