// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 h1{
  color: #004b00;
  font-family: helvetica;
  font-size: 30px;
  text-align: center;
}

.results-list-wrapper {
  margin: 10px 0px 10px 0px;
}

.result-wrapper {
  background-color: #FFFFE0;
  color: #727272;
  display: flex;
  padding: 20px;
  width: 70%;
  margin: 0px auto 10px auto;
}

.result-img {
  display: inline-block;
  margin-top: 50px;
  width: 33%;
}

.result-info {
  display: inline-block;
  line-height: 25px;
  padding: 10px;
  width: 33%;
}

.result-wait-time {
  color: #000000;
  display: inline-block;
  margin-top: 10px;
  width: 33%;
}

.result-wait-time-text0 {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.result-wait-time-number {
  border: 10px solid #CD9B9B;
  border-radius: 20px;
  font-size: 100px;
  text-align: center;
  margin: auto;
  width: 50%;
}

.result-wait-time-text1 {
  font-size: 20px;
  text-align: center;
}

.result-info label{
  font-weight: bold;
}

.result-nav {
  display: block;
  width:100%;
}

.result-button {
  background-color: #FF5252;
  border-radius: 5px;
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px;
}

.link-wrapper {
  display: block;
  margin-top: 15px;
  text-align: center;
}

.result-img-position {
  text-align: center;
}

.result-img-position img{
  border-radius: 60px;
}


.restaurant {
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant-waitlist-info {
  display: none;
  text-align: left;
  width: 70%;
  padding: 5px;
}

.restaurant-img {
  border-radius: 50px;
}

.waitlist-table {
  width: 100%;
  border-collapse: collapse;
}

.waitlist-table th{
  background-color: #FFC107;
  padding: 20px;
  color: #FFFFFF;
}

.waitlist-table td{
  background-color: ghostwhite;
  padding: 20px;
}

.waitlist-table tr{
  border-bottom: 1px dotted ghostwhite;
}

.waitlist-window {
  display:inline-block;
  width: 50%;
}

.restaurant {
  margin: 10px auto 0px auto;
  text-align: center;
  width: 85%;
}

.top-block {
  display:flex;
  margin: 10px auto 0px auto;
  width: 80%;
}

.restaurant-info {
  background-color:#F2F2F2;
  display: inline-block;
  width: 50%;
  padding: 5px;
  text-align: center;
}

.restaurant-data-table td{
  padding: 5px;
  vertical-align: top;
  font-size: 20px;
}

.restaurant-data-table label{
  font-weight: bold;
}

.waitlist-form-table td{
  padding: 10px;
}

.waitlist-form-table td{
  padding: 10px;
}

.waitlist-form-table td input{
  font-size: 20px;
}
