// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-form a:link {
  color: #B6B6B6;
  text-decoration: underline;
}

.login-form a:hover {
  text-decoration: none;
}

.login-form a:visited {
  color: #B6B6B6;
  text-decoration: underline;
}

.login-form td{
  padding: 10px;
}

.login-form input.login-button{ 
  background-color: #8BC34A;
  border-radius: 10px;
  letter-spacing: 2px;
  font-size: 15px;
  color: #FFFFFF;
}