// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error {
  background-color: #FF9800;
  color: #FFFFFF;
  margin: 0px auto 10px auto;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 60%;
}
.current-reservation-wrapper {
  display: flex;
  width: 80%;
  margin: auto;
}

.current-restaurant-img { 
  display:inline-block;
  margin: auto;
  width: 33.3%;
}

.current-restaurant-img img{ 
  border-radius: 40px;
}

.current-restaurant {
  display: inline-block;
  line-height: 25px;
  padding: 10px;
  width: 33.3%;
}

.current-wait-time {
  border: 10px solid #F44336;
  border-radius: 30px;
  background-color:#FFFFFF;
  color: #F44336;
	display:inline-block;
  padding: 10px;
  width: 33.3%;
}

.user-wait-time {
  font-size: 70px;
  text-align: center;
  margin-top: 10px;
}

.user-wait-time-text {
  font-size: 20px;
  text-align: center;
}



.user-options {
	display: inline-block;
  padding: 10px;
  width: 25%;
}

.signup-form a:link {
  color: #B6B6B6;
  text-decoration: underline;
}

.signup-form a:hover {
  text-decoration: none;
}

.signup-form a:visited {
  color: #B6B6B6;
  text-decoration: underline;
}

.signup-form td{
  padding: 10px;
}

.signup-form input{
  padding: 5px;
}

.signup-form input.signup-button{ 
  background-color: #8BC34A;
  border-radius: 10px;
  letter-spacing: 2px;
  font-size: 15px;
  color: #FFFFFF;
}
.search-form input.search-submit {
  background-color: #8BC34A;
  border-radius: 8px;
  font-size: 15px;
  color: #FFFFFF
}
.number-update {
  width: 15px;
}
