<section class="google-maps">
  <div id="map-canvas"></div>
</section>

<div class="separator"></div>

<div class="home-wrapper">
  <section class="home-info">
    <h1>WaitLess</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nibh lectus, volutpat id elementum sit amet, consectetur eu tellus. In rhoncus fringilla nibh, a sollicitudin mi rutrum in. In eu finibus nisl. Donec accumsan tortor vel odio rhoncus gravida. Fusce ultrices ligula a est laoreet, vitae feugiat erat tincidunt. Suspendisse potenti. In hac habitasse platea dictumst. Nunc blandit, purus eget pharetra luctus, tellus augue egestas mauris, eu viverra magna metus condimentum nibh. Donec consectetur ex ligula. Proin tortor nisi, aliquam at iaculis sed, tempus eu massa. Sed mollis orci id tortor condimentum malesuada. In dignissim, lorem ac pellentesque pretium, magna sapien varius tellus, a ultricies nisi elit non nulla. Aenean aliquet ultricies vehicula.
      </p>
      <p>
        Praesent et est justo. Etiam lacus ante, aliquet quis massa a, molestie vestibulum lorem. Aliquam erat volutpat. Nullam egestas semper tincidunt. Donec et nisl vitae dolor eleifend eleifend quis non lacus. Pellentesque eget ligula scelerisque, fermentum lorem id, tempor dui. Vivamus scelerisque mattis erat. Donec pretium ac arcu sit amet venenatis. Etiam lacinia risus tristique mauris tincidunt, id porta turpis placerat. Morbi eleifend tristique fermentum. Aliquam ornare scelerisque efficitur. Vivamus iaculis nibh ut ligula porttitor feugiat. Sed mollis erat ut sapien rutrum feugiat vitae ac lectus. Mauris sit amet diam placerat metus pulvinar consectetur sit amet iaculis ante. Donec eu mauris non lectus rhoncus auctor et finibus orci. Ut mattis a tellus sit amet rutrum.
      </p>
  </section>

  <section class="home-explore">
    <h1>Find a Restaurant</h1>
      <%= form_tag(restaurants_path, :method => "get", id:"search-form") do %>

        <table align=center class="search-form">
          <tr>
            <td>Restaurant Name/Food Type</td>
            <td>
              <%= text_field_tag :search, params[:search], placeholder: "Mexican, Philz Coffee, etc." %>
            </td>
          </tr>
          <tr>
            <td>Location</td>
            <td><%= text_field_tag :location, params[:location] %></td>
		      </tr>
          <tr>
            <td><%= submit_tag "Search" %></td>
            <td>Powered by <a href="http://www.yelp.com">Yelp</a></td>
          </tr>
        </table>

   <% end %>

  </section>

</div>

