<div class="google-maps">
</div>

<div class="info">
</div>

<div class="explore">

	<div class="search">
	<%= form_tag(restaurants_path, :method => "get", id:"search-form") do %>
		<%= text_field_tag :search, params[:search], placeholder: "Mexican, Philz Coffee, etc." %>
		<%= text_field_tag :location, params[:location] %>
		<%= submit_tag "Search" %>
	<% end %>

	</div>

</div>

<div class="results-list">

</div>
